/*Navbar Styling*/
.navbar {
    background-color: white !important;
}
.navbar-brand{
    padding-left: 15px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 24pt;
    margin-left: 0px;
    margin-right: 0px;
}
.collapse{
    justify-content: center;
    padding-right: 38px;
}
.nav-link{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 14pt;
    padding: 15px;
}
.dropdown-item{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    padding: 18px;
    
}
.dropdown-menu{
    border: 0px;
}

/*Garadient Line*/
hr{
    margin-top: 73px;
    margin-bottom: 0px;
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(23, 220, 247) , rgb(255, 123, 14)); 
}
.mid{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(23, 220, 247) , rgb(255, 123, 14)); 
}
.end{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(23, 220, 247) , rgb(255, 123, 14)); 
}

/*Jumbotron Styling*/
.jumbotron{
    height: 640px;
    background-color: #F8F8F8;
}
.hero{
    width: 780px;
    font-family: 'Frank Ruhl Libre', serif;
    position: relative;
    top: 80px;
}
.orange{
    color: #F57306;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
.quote{
    font-size: 28pt;
    padding:50px; 
    font-family: 'Frank Ruhl Libre', serif; 
}
.q{
    font-weight: 400;
}
.blue{
    color: #0BB0C6;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

/*Projects Styling*/
.title{
  text-align: center; 
  font-family: 'Frank Ruhl Libre', serif;
}
h3{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
.project-text{
    font-family: 'Frank Ruhl Libre', serif;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
}
.project-img{
    box-shadow: 0px 0px 10px 0px grey;
    padding: 0px;
    margin-right: 15px;
}
.R2KB{
    background-color: #36B1BF;
    color: white;
    border-color: #36B1BF;
    font-family: 'Frank Ruhl Libre', serif;
}
.R2KB:hover{
    background-color: white;
    color: #36B1BF;
    border-color: #36B1BF;
}
.R2KB:active{
    background-color: rgb(7, 140, 158);
    border-color: #36B1BF;
    color: white;
}
.DOEB{
    background-color: black;
    color: white;
    border-color: black;
    font-family: 'Frank Ruhl Libre', serif;
}
.DOEB:hover{
    background-color: white;
    color: black;
    border-color: black;
}
.DOEB:active{
    background-color: rgb(20, 20, 20);
    color: white;
}
.ATB{
    background-color: #EE585E;
    color: white;
    border-color: #EE585E;
    font-family: 'Frank Ruhl Libre', serif;
}
.ATB:hover{
    background-color: white;
    color: #EE585E;
    border-color: #EE585E;
}
.ATB:active{
    background-color: rgb(224, 81, 86);
    color: white;
}
/*Footer Styling*/
.footer{
    margin: 0px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    height: 750px;
}
.about{
    position: relative;
    top: 20px;
}
.about1{
    position: relative;
    top: 50px;
}
.icons a{
    font-size: 24pt;
    position: relative;
    top: 80px; 
    color: black;
}
.icons a:hover{
    color: #0BB0C6;
}
.icons a:active{
    color: rgb(7, 140, 158);
}



/*Media Query Stylings*/
@media(max-width: 991px){
    .row{
        justify-content: center;
    }  
    .footer{
        height: 700px;
    }
    .about{
        font-size: 20pt;
    }
    .about1{
        font-size: 14pt;
    }
}


/*Modal Styling*/
.modal-title{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
.form-group{
    font-family: 'Frank Ruhl Libre', serif; 
}
.send{
    background-color: #36B1BF;
    color: white;
    border-color: #36B1BF;
    font-family: 'Frank Ruhl Libre', serif;
}
.send:hover{
    background-color: white;
    color: #36B1BF;
    border-color: #36B1BF;
}
.send:active{
    background-color: rgb(7, 140, 158);
    border-color: #36B1BF;
    color: white;
}
.bye{
    background-color: rgb(184, 191, 192);
    color: white;
    border-color: rgb(184, 191, 192);
    font-family: 'Frank Ruhl Libre', serif;
}
.bye:hover{
    background-color: white;
    color: grey;
    border-color: rgb(184, 191, 192);
}
.bye:active{
    background-color: rgb(153, 156, 156);
    border-color: grey;
    color: white;
}





