body{
    
    background-color: #F8F8F8;
}
/*Navbar Styling*/
.navbar {
    background-color: #F8F8F8 !important;
    height: 50px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
}
.nav2{
    padding: 0px 100px;
}
.navbar-brand{
    padding-left: 130px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 24pt;
    margin-left: 0px;
    margin-right: 0px;
}
.nav-links{
    justify-content: flex-end;
    padding-right: 230px;
}
.nav-link{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size: 13pt;
    padding: 13px;
}
.dropdown-item{
    font-family: 'Frank Ruhl Libre', serif;
    padding: 18px; 
}
.dropdown-menu{
    border: 0px;
    background-color: #F8F8F8;
}
.navbar-collapse{
    background-color: #F8F8F8;
    padding: 0px;
    
}

/*Garadient Lines*/
.line1{
    margin-top: 0px;/*73px*/
    margin-bottom: 0px;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right, #7B0F9B, #0BB0C6 ); 
}
.line2{
    margin-top: 0px;
    margin-bottom: 100px;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right, #7B0F9B, #0BB0C6 ); 
}


/*Jumbotron Styling*/
.hero{
    background-color: #F8F8F8;
    height: 750px;
}
.hero-row{
    width: 1000px;
    height: 400px;
}
.hero-text{
    width: 375px;
    height: 400px;
    margin: 0px;
    padding: 25px;
}
.hero-img{
    width: 400px;
    height: 400px;
    margin: 0px;
    padding: 0px;
    animation: .8s ease 0s 1 colorshift;
    animation-fill-mode: forwards;
}

/*Translate Stylings*/
@keyframes colorshift {
    0% {
        transform: translate(0px,0px);
    }
    100% {
        transform: translate(20px, -20px);
    }
}

.color-box{
    background-image: linear-gradient(to bottom right, #7B0F9B, #0BB0C6 ); 
    width: 400px;
    height: 400px;
    margin: 0px;
    padding: 0px;
}
.hero-title{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-weight: 400;
    font-size: 36pt;
    width: 375px;
}
.about{
    color: black;
    font-size: 36pt;
}
.about-button {
    display: inline-block;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    text-decoration: none;
    position: relative;
    margin-top: 15px;
    font-size: 36pt;
    color: black;
    text-decoration: none;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
    border: 0px;
    background-color: #F8F8F8;
  }
  .about-button:hover {
    color: black;
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
  }
  .about-button:hover:before {
    opacity: 1;
    transform: translateX(4px);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98) 0.1s;
  }
  .about-button:hover:after {
    transform: scaleX(0);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
  }
  .about-button:before {
    display: inline-block;
    content: '\2192   About';
    opacity: 0;
    position: absolute;
    top: 22px;
    right: -100px;
    font-size: 20px;
    line-height: 14px;
    border-radius: 50%;
    transition-delay: 0.2s;
    transform: translateX(0);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
  }
  .about-button:after {
    background: #8a8f95;
    content: '';
    display: block;
    height: 1px;
    margin-top: 2px;
    width: 100%;
    z-index: 0;
    transform-origin: 100% 0;
    transform: scaleX(1);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98) 0.1s;
  }
  
.hero-quote{
    font-size: 20pt;
    padding-top: 45px; 
    margin: 0px;
    font-family: 'Frank Ruhl Libre', serif;
    height: 150px;
    width: 325px; 
}
.purple{
    color: #7B0F9B;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
.blue{
    color: #0BB0C6;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}


/*Projects Styling*/
.projects{
    background-color: white;
    padding: 0px !important;
    margin: 0px;
}
.container{
    padding:0px;
}
.title{
  text-align: left; 
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
h3{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
.color-rec{
    background-image: linear-gradient(45deg, #7B0F9B, #0BB0C6 ); 
    width: 800px;
    height: 400px;
    margin: 0px;
    padding: 0px;
}
.project-text{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 13pt;
    height: 400px;
    width:400px;
    padding: 75px;
    background-color: #F8F8F8;
}
.project-img{
    padding: 0px;
    margin-right: 0px;
}
.project-row{
    /*transform: translate(1, 1);
    transition: transform 0.25s ease-out;*/
    padding:0px;
    margin:0px;
}
/*.project-row:hover{
    transform: translate(8px, -8px);
}*/

/*.button{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    color: black;
    text-decoration: underline;*/
.button {
    display: inline-block;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    text-decoration: none;
    position: relative;
    margin-top: 15px;
    font-size: 14px;
    color: #8a8f95;
    text-decoration: none;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
    border: 0px;
    background-color: #F8F8F8;
  }
  .button:hover {
    color: black;
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
  }
  .button:hover:before {
    opacity: 1;
    transform: translateX(4px);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98) 0.1s;
  }
  .button:hover:after {
    transform: scaleX(0);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
  }
  .button:before {
    display: inline-block;
    content: '\2192   Google Slides';
    opacity: 0;
    position: absolute;
    top: 5px;
    right: -100px;
    font-size: 14px;
    line-height: 14px;
    border-radius: 50%;
    transition-delay: 0.2s;
    transform: translateX(0);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98);
  }
  .button:after {
    background: #8a8f95;
    content: '';
    display: block;
    height: 1px;
    margin-top: 2px;
    width: 100%;
    z-index: 0;
    transform-origin: 100% 0;
    transform: scaleX(1);
    transition: all 0.1s cubic-bezier(0.49, 0.99, 0.54, 0.98) 0.1s;
  }

.row{
    padding:0px;
    margin:0px;
}



/*Footer Styling*/
.footer{
    background-color: #F8F8F8;
    height: 300px;
}
.footer-row{
    width: 1000px;
}
.footer-title{
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    font-size: 20pt;
}
.footer-info{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 16pt;
    padding-top: 45px;
}
.footer-text{
    width: 375px;
    height: 200px;
    margin: 0px;
    padding: 25px;
    
}
.footer-icons {
    width: 400px;
    height: 400px;
    margin: 0px;
    padding: 0px;
    
}
.email{
    color: black;
    font-size: 24pt;
    padding: 30px;
}
.linkedin{
    color: black;
    font-size: 24pt;
    padding: 30px;
}
.behance{
    color: black;
    font-size: 24pt;
    padding: 30px;
}
.active{
    color: black;
    font-size: 24pt;
    padding: 30px;
}
.github{
    color: black;
    font-size: 24pt;
    padding: 30px;
}
.email:hover{
    color: #7B0F9B;
}
.email:active{
    color: rgb(82, 12, 104);
}
.linkedin:hover{
    color: #7B0F9B;
}
.linkedin:active{
    color: rgb(82, 12, 104);
}
.behance:hover{
    color: #7B0F9B;
}
.behance:active{
    color: rgb(82, 12, 104);
}
.github:hover{
    color: #7B0F9B;
}
.guthub:active{
    color: rgb(82, 12, 104);
}








/*Media Query Stylings*/
@media only screen and (max-width: 992px){
   .nav2{
       padding: 0px 10px;
   }
   .navbar-brand{
       padding-left: 10px;
   }
    .color-box{
        width: 275px;
        height: 275px;
    }
    .hero{
        height: 540px;
    }
    .hero-img{
        width: 275px;
        height: 275px;
    }
    .me{
        width: 275px;
        height: 275px;
    }
    .hero-text{
        padding: 50px;
    }
    .hero-title{
        font-size: 30pt;
        width: 325px;
    }
    .hero-quote{
        font-size: 15pt;
        width: 275px;
        padding-top: 20px;
    }
    .project-img{
        width: 300px;
        height: 300px;
    }
   
    img{
        width: 300px;
        height: 300px;
    }
    .project-text{
        width: 300px;
        height: 300px;
        padding:30px
    }
    .footer-icons{
        height: 200px;
        width: 200px
    }
    .line2{
        margin-bottom: 50px;
    }
}



/*Modal Styling*/
.modal-title{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}
.form-group{
    font-family: 'Frank Ruhl Libre', serif; 
}
.send{
    background-color: #7B0F9B;
    color: white;
    border-color: #7B0F9B;
    font-family: 'Frank Ruhl Libre', serif;
}
.send:hover{
    background-color: white;
    color: #7B0F9B;
    border-color: #7B0F9B;
}
.send:active{
    background-color: #7B0F9B;
    border-color: #7B0F9B;
    color: white;
}
.bye{
    background-color: rgb(184, 191, 192);
    color: white;
    border-color: rgb(184, 191, 192);
    font-family: 'Frank Ruhl Libre', serif;
}
.bye:hover{
    background-color: white;
    color: grey;
    border-color: rgb(184, 191, 192);
}
.bye:active{
    background-color: rgb(153, 156, 156);
    border-color: grey;
    color: white;
}





